﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucProHomeParent.ascx.cs" Inherits="MyWeb.views.products.ucProHomeParent" %>
<div class="box-group-pro">
    <asp:Literal ID="ltrGroupPro" runat="server"></asp:Literal>
</div>
