﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ucProHome.ascx.cs" Inherits="MyWeb.views.products.ucProHome" %>

<div class="<%=strClassName %>"">
    <asp:Literal ID="ltrGroup" runat="server"></asp:Literal>
    <asp:Literal ID="ltrpro" runat="server"></asp:Literal>
</div>